.article, .comments {
  margin: 0 auto;
  max-width: 800px;
}

.article {
  font-size: 18px;
  text-align: left;
  line-height: 26px;
  p {
    font-size: 18px;
    line-height: 26px;
  }
  ul {
    li {
      list-style-type: disc;
      margin-left: 20px;
      line-height: 22px;
    }
  }
  h2 {
    padding: 20px 0;
    margin-bottom: 0;
    &:after {
      content: none;
    }
  }
  strong {
    font-weight: 600;
  }
}

.comments {
  margin-top: 100px;
}