.blog-preview {
  margin: 0 auto 40px;
  width: 100%;
  max-width: 750px;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  padding-bottom: 20px;
  h2 {
    margin-bottom: 7px;
    &:after {
      content: none;
    }
  }
  h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #cccccc;
  }
}