body {
    color: $text-primary;
}
section {
    border-top: 1px solid #eeeeee;
    width: 100%;
    text-align: center;
    padding: 50px 0 50px;
    i.large {
        font-size: 36px;
        color: $text-secondary;
        display: block;
        margin-bottom: 20px;
    }
}
