body {
    color: $text-primary;
}
section {
    background-color: $background-secondary;
    width: 100%;
    text-align: center;
    padding: 70px 0 50px;
    i.large {
        font-size: 36px;
        color: $text-secondary;
        display: block;
        margin-bottom: 20px;
    }
}
