footer {
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    span {
        font-size: 13px;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline-block;
            margin: 0 5px;
            a {
                color: $text-secondary;
            }
        }
    }
}
