footer {
    border-top: 1px solid #eeeeee;
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
    span {
        font-size: 13px;
    }
    ul {
        li {
            display: inline-block;
            margin: 0 3px;
            a {
                color: $text-secondary;
            }
        }
    }
}
