nav {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 14px;
    cursor: pointer;
    i {
        color: $contrast;
        margin-right: 10px;
    }
    span {
        color: $text-secondary;
        font-weight: bold;
        strong {
            color: $contrast;
        }
    }
    &:hover {
        i, span strong {
            color: $highlight;
        }
    }
}
#nav {
    position: fixed;
    top: 40px;
    left: 15px;
    font-size: 13px;
    opacity: 0;
    transition: all 0.2s;
    li {
        text-transform: uppercase;
        margin: 10px 0;
    }
}
menu {
    &#theme {
        display: inline-block;
        position: fixed;
        top: 15px;
        right: 15px;
        font-size: 14px;
        cursor: pointer;
        a {
            color: $text-secondary;
            i {
                padding-bottom: 5px;
            }
            &:hover {
                color: $highlight;
                border: none;
            }
        }
    }
}
