a.box, input[type="submit"], input[type="button"] {
    width: auto;
    text-decoration: none;
    font-size: 18px;
    padding: 7px 25px;
    border: 1px solid $highlight;
    color: $highlight;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
        background: $highlight;
        color: $background-primary;
    }
}
