form {
    display: inline-block;
    max-width: 800px;
    text-align: left;
    margin-bottom: -20px;
    input, textarea {
        padding: 10px;
        background: none;

        outline: none;
        color: $text-primary;
        font-size: 16px;
        border: 1px solid #dddddd;
        margin-bottom: 20px;
        box-sizing: border-box;
      &:focus {
        border-color: $highlight-secondary;
      }
    }
    input {
        display: inline-block;
        &.name, &.email {
            width: 49%;
        }
        &.name {
            float: left;
        }
        &.email {
            float: right;
        }
    }
    textarea {
        width: 100%;
        min-height: 150px;
        resize:vertical;
    }

    select {
      -webkit-appearance: none;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      background: #ffffff;
      border-radius: 0;
      border-color: #dddddd;
      font-size: 16px;
      color: #555555;
      option {
        padding: 10px;
        height: 40px;
        line-height: 50px;
        margin: 50px;
      }
    }
    .dropdown {
      display: block;
      position: relative;
      &:after {
        content: '\f0d7';
        font-family: 'FontAwesome';
        position: absolute;
        top: 14px;
        right: 10px;
      }
    }
}
