/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "proxima-nova";
  font-weight: 300; }

strong {
  font-weight: 800; }

em {
  font-style: italic; }

code {
  font-family: 'source-code-pro';
  font-weight: 400;
  font-size: 16px;
  background: #f3f3f3;
  padding: 5px;
  border-radius: 3px;
  display: inline-block; }

pre {
  display: block;
  width: 100%;
  background: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 20px;
  box-sizing: border-box; }
  pre code {
    display: inline;
    line-height: 22px; }
    pre code.hljs {
      padding: 15px; }

h1, h2 {
  font-weight: 800; }

h1 {
  color: #f1cc77;
  font-size: 50px;
  margin-bottom: 50px; }

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444444; }
  h2:after {
    content: '';
    background: #dddddd;
    width: 50px;
    height: 1px;
    display: block;
    margin: 15px auto 0; }

h4 {
  font-size: 24px;
  color: #444444;
  text-align: left; }
  h4:after {
    content: '';
    background: #dddddd;
    width: 50px;
    height: 1px;
    display: block;
    margin: 15px 0 40px 0;
    text-align: left; }

a {
  text-decoration: none;
  color: #444444; }
  a:hover {
    color: #45ada8;
    border-bottom: 1px dotted #45ada8; }

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px; }
  p a {
    text-decoration: none;
    color: #444444;
    border-bottom: 1px dotted #444444; }

input, textarea, button {
  font-family: "proxima-nova"; }

.fa.fa-copyright {
  font-size: 11px; }

html, body {
  height: 100%;
  background: #ffffff; }

body {
  color: #444444; }

section {
  border-top: 1px solid #eeeeee;
  width: 100%;
  text-align: center;
  padding: 70px 0; }
  section i.large {
    font-size: 36px;
    color: #cccccc;
    display: block;
    margin-bottom: 20px; }

#wrapper {
  transition: all 0.2s; }
  #wrapper.faded {
    margin-left: 200px; }

header {
  padding: 120px 0;
  width: 100%;
  vertical-align: center;
  text-align: center;
  background: url("/images/examplebackground.jpg") no-repeat;
  background-size: cover; }
  header a {
    color: #f1cc77;
    border-color: #f1cc77; }
    header a:hover {
      color: white;
      border-color: white; }
  header h1, header p {
    color: #ffffff; }
  header p {
    font-size: 24px;
    margin-bottom: 50px; }

nav {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 14px;
  cursor: pointer;
  color: #ffffff;
  z-index: 3;
  transition: all 0.3s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  nav i {
    margin-right: 10px; }
  nav .primary {
    font-weight: 700; }
  nav .secondary {
    font-weight: 300;
    opacity: 0.3; }
  nav:hover i {
    color: #f1cc77; }
  nav.pinned {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding: 10px; }

#nav {
  position: fixed;
  top: 0px;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #191b1c;
  padding: 40px 0;
  font-size: 13px;
  transition: all 0.2s;
  z-index: 2; }
  #nav i {
    width: 20px; }
  #nav a {
    color: #ffffff;
    text-transform: uppercase;
    margin: 15px;
    display: block; }
    #nav a i {
      color: #444444; }
    #nav a:hover {
      color: #f1cc77;
      border: none; }
      #nav a:hover i {
        color: #f1cc77; }

footer {
  border-top: 1px solid #eeeeee;
  text-align: center;
  padding: 20px 0;
  font-size: 13px; }
  footer span {
    font-size: 13px; }
  footer ul li {
    display: inline-block;
    margin: 0 3px; }
    footer ul li a {
      color: #cccccc; }

form {
  display: inline-block;
  max-width: 800px;
  text-align: left;
  margin-bottom: -20px; }
  form input, form textarea {
    padding: 10px;
    background: none;
    outline: none;
    color: #444444;
    font-size: 16px;
    border: 1px solid #dddddd;
    margin-bottom: 20px;
    box-sizing: border-box; }
    form input:focus, form textarea:focus {
      border-color: #45ada8; }
  form input {
    display: inline-block; }
    form input.name, form input.email {
      width: 49%; }
    form input.name {
      float: left; }
    form input.email {
      float: right; }
  form textarea {
    width: 100%;
    min-height: 150px;
    resize: vertical; }

a.box, input[type="submit"], input[type="button"], button {
  width: auto;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 8px 20px;
  border: 1px solid #f1cc77;
  color: #f1cc77;
  transition: 0.3s all;
  cursor: pointer;
  font-weight: 300;
  background: none center 120%;
  background-size: 8px 4px; }
  a.box x i, input[type="submit"] x i, input[type="button"] x i, button x i {
    margin-right: 2px; }
  a.box:hover, input[type="submit"]:hover, input[type="button"]:hover, button:hover {
    background: url('/images/button-arrow.png') center bottom no-repeat;
    background-size: 7px 4px;
    border: 1px solid #ffffff;
    color: #ffffff; }

section a.box, section input[type="submit"], section input[type="button"], section button {
  border-color: #45ada8;
  color: #45ada8;
  font-size: 14px; }
  section a.box:hover, section input[type="submit"]:hover, section input[type="button"]:hover, section button:hover {
    background: #45ada8 url('/images/button-arrow.png') center bottom no-repeat;
    background-size: 7px 4px;
    border: 1px solid #ffffff;
    color: #ffffff; }

table {
  width: 100%; }
  table thead {
    font-weight: 600; }
  table td, table th {
    padding: 10px; }
  table tr {
    border-bottom: 1px solid #f0f0f0; }
  table.admin {
    margin: 0 auto;
    max-width: 800px; }

.article, .comments {
  margin: 0 auto;
  max-width: 800px; }

.article {
  font-size: 18px;
  text-align: left; }
  .article p {
    font-size: 18px; }
  .article ul li {
    list-style-type: disc;
    margin-left: 20px;
    line-height: 22px; }

.comments {
  margin-top: 50px; }

form.auth {
  text-align: center;
  max-width: 300px; }
  form.auth input, form.auth button {
    width: 100%; }
form.admin {
  width: 100%;
  max-width: 800px; }
  form.admin input {
    width: 100%; }
    form.admin input[type="checkbox"] {
      width: auto; }
  form.admin textarea {
    min-height: 200px; }

.admin-actions {
  background: #f6f6f6;
  border-radius: 3px;
  width: auto;
  padding: 10px; }
  .admin-actions li {
    display: inline-block; }

section .feature {
  width: 450px;
  margin: 0 20px;
  display: inline-block;
  vertical-align: top; }
  section .feature a {
    display: inline-block; }

section {
  text-align: center; }
  section .resume-block {
    display: inline-block;
    max-width: 800px;
    text-align: center; }
    section .resume-block p {
      max-width: 800px; }

.blog-preview {
  margin: 0 auto 40px;
  width: 100%;
  max-width: 750px;
  border-bottom: 1px solid #eeeeee;
  text-align: left;
  padding-bottom: 20px; }
  .blog-preview h2 {
    margin-bottom: 7px; }
    .blog-preview h2:after {
      content: none; }
  .blog-preview h3 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #cccccc; }

.project {
  max-width: 1080px;
  text-align: left;
  margin: 0 auto;
  display: inline-block; }
  .project .preview {
    width: 525px;
    float: left;
    margin-right: 40px;
    display: inline-block;
    box-shadow: 2px 2px 3px #aaaaaa;
    border-radius: 5px; }
  .project .description {
    width: 505px;
    display: inline-block;
    float: right; }
  .project h2 {
    margin-bottom: 5px; }
    .project h2:after {
      content: none; }
  .project h3 {
    font-weight: 800; }
    .project h3:after {
      content: '';
      background: #dddddd;
      width: 50px;
      height: 1px;
      display: block;
      margin: 20px 0; }
  .project a.box {
    display: inline-block; }


/*# sourceMappingURL=app.css.map */