body {
    font-family: $font;
    font-weight: 300;
}

strong {
    font-weight: 800;
}

em {
    font-style: italic;
}

code {
    font-family: 'source-code-pro';
    font-weight: 400;
    font-size: 16px;
    background: #f3f3f3;
    padding: 0 5px;
    border-radius: 3px;
    display: inline-block;
}

pre {
  display: block;
  width: 100%;
  background: #f3f3f3;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 20px;
  box-sizing: border-box;
  code {
    display: inline;
    &.hljs {
      padding: 15px;
    }
    line-height: 22px;
  }
}

h1, h2 {
    font-weight: 800;
}

h1 {
  color: $highlight;
  font-size: 50px;
  margin-bottom: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $text-primary;
    &:after {
      content: '';
      background: #dddddd;
      width: 50px;
      height: 1px;
      display: block;
      margin: 15px auto 0;
    }
}

h3 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: $text-primary;
}

h4 {
  font-size: 24px;
  color: $text-primary;
  text-align: left;

  &:after {
    content: '';
    background: #dddddd;
    width: 50px;
    height: 1px;
    display: block;
    margin: 15px 0 40px 0;
    text-align: left;
  }
}

a {
    text-decoration: none;
    color: $text-primary;
    &:hover {
        color: $highlight-secondary;
        border-bottom: 1px dotted $highlight-secondary;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        color: $text-primary;
        border-bottom: 1px dotted $text-primary;
    }
}

input, textarea, button, select {
    font-family: $font;
}

.fa.fa-copyright {
    font-size: 11px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #eeeeee;
  margin: 40px 0;
  padding: 0;
}