body {
    font-family: $font;
}

strong {
    font-weight: 800;
}

h1, h2 {
    font-weight: 800;
}

h1 {
  color: $highlight;
  font-size: 50px;
  margin-bottom: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $text-primary;
  &:after {
    content: '';
    background: #dddddd;
    width: 50px;
    height: 1px;
    display: block;
    margin: 15px auto 0;
  }
}

a {
    font-weight: 300;
    text-decoration: none;
    color: $text-primary;
    &:hover {
        color: $highlight;
        border-bottom: 1px dotted $highlight;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
    font-weight: 300;
    a {
        text-decoration: none;
        color: $text-primary;
        border-bottom: 1px dotted $text-primary;
    }
}

input, textarea {
    font-family: $font;
}

.fa.fa-copyright {
    font-size: 11px;
}