$font: "proxima-nova";

// Named colours
$pure: #ffffff;
$chrome: #f6f6f6;
$evergreen: #45ada8;
$night: #444444;
$faded: #cccccc;

// Theme colours
$background-primary: $pure;
$background-secondary: $chrome;
$highlight: $evergreen;
$text-primary: $night;
$text-secondary: $faded;
$contrast: #222222;