// Named colours
$slate: #262c31;
$midnight: #1f2326;
$faded: #565e65;
$polaris: #f1cc77;
$bone: #ebdbcc;

// Theme colours
$background-primary: $slate;
$background-secondary: $midnight;
$highlight: $polaris;
$text-primary: $bone;
$text-secondary: $faded;
$contrast: white;

// Dark specific styles

body {
    background: $background-primary;
}

section {
    background: url('/images/section-arrow-light.png') top center no-repeat;
    &:nth-of-type(2n) {
        background: url('/images/section-arrow-dark.png') top center no-repeat;
    }
}
