// Named colours
$pure: #ffffff;
$chrome: #f6f6f6;
$fire: #FB6609;
$night: #555555;
$faded: #aaaaaa;

// Theme colours
$background-primary: $pure;
$background-secondary: $chrome;
$highlight: $fire;
$text-primary: $night;
$text-secondary: $faded;
$contrast: #222222;

// Light specific styles
